# sets the serverLevelData field in net.minecraft.server.level.ServerLevel to public
#public net.minecraft.server.level.ServerLevel serverLevelData
public net.minecraft.world.level.storage.DimensionDataStorage dataFolder